@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.gradient-button {
	border-radius: 12px;
	background: var(--gr, linear-gradient(85deg, #6495ed 4.62%, #de3163 91.89%));
}

.search-input {
	border-radius: 16px;
	background: rgba(194, 199, 208, 0.4);

	/* Nav drop */
	box-shadow: 0px 169px 47px 0px rgba(131, 166, 236, 0),
		0px 108px 43px 0px rgba(131, 166, 236, 0.01),
		0px 61px 37px 0px rgba(131, 166, 236, 0.05),
		0px 27px 27px 0px rgba(131, 166, 236, 0.09),
		0px 7px 15px 0px rgba(131, 166, 236, 0.1);
}

.accordion-container {
	border-radius: 20px;
	border: 1px solid var(--ggg, #6495ed);
	background: linear-gradient(
		157deg,
		rgba(215, 234, 245, 0.14) 11.74%,
		rgba(165, 223, 255, 0) 165.82%
	);
	box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(2px);
}

.text-gradient {
	background: var(--ggg, linear-gradient(85deg, #6495ed 4.62%, #de3163 91.89%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* .footer-blur {
	border-radius: 329px 446px 329px 419px;
	opacity: 0.13;
	background: url(/public/footerBlur.svg) lightgray 0px 17.85px / 90.442%
		107.579% no-repeat;
	filter: blur(200px);
	width: 1611px;
	height: 1075px;
	flex-shrink: 0;
} */

::-webkit-scrollbar {
	width: 0em;
	background: #fff;
}

::-webkit-scrollbar-track {
	background: #fff;
	margin-block: 1em;
}
::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 100vw;
}
